<div class="container mb-4">
  <div class="row justify-content-center mt-5">
    <div class="col-md-6">
      <div class="card shadow">
        <div class="text-white text-center mt-4">
          <h2 class="card-title text-center mb-4">Registration Form</h2>
          <!-- <p class="small mb-0">Please fill in all required fields</p> -->
        </div>

        <template id="inputTemplate">
          <div class="mb-3">
            <label class="form-label"></label>
            <div class="input-group">
              <span class="input-group-text"></span>
              <input class="form-control">
            </div>
          </div>
        </template>

        <div class="container">
          <div class="mb-3">
            <label class="form-label">User Name</label>
            <input type="text" class="form-control" [(ngModel)]="username" required name="username"
              placeholder="username">
          </div>
          <div class="mb-3">
            <label class="form-label">Full Name</label>
            <input type="text" class="form-control" [(ngModel)]="fname" required name="fname" placeholder="full name">
          </div>

          <div class="mb-3">
            <label class="form-label">Password</label>
            <input type="password" class="form-control" minlength="8" [(ngModel)]="password" name="password" required
              placeholder="password">
          </div>

          <!-- Phone Number -->
          <!-- <div class="mb-3">

            <label for="pnumber" class="form-label" maxlength="10">Phone Number</label>
            <input type="number" class="form-control" id="pnumber" [(ngModel)]="phone" name="pnumber" required
              placeholder="phone number">
          </div> -->

          <!-- Job Title -->
          <div class="mb-3">
            <label for="jobTitle" class="form-label">Job Title</label>
            <input type="text" class="form-control" id="jobTitle" [(ngModel)]="jobTitle" name="jobTitle" required
              placeholder="job title">
          </div>

          <div class="mb-3">
            <label for="about" class="form-label">About</label>
            <textarea type="text" class="form-control" id="about" [(ngModel)]="about" name="about" required
              placeholder="Tell us about yourself"></textarea>
          </div>

          <div class="mb-3">
            <label for="linkedin" class="form-label">LinkedIn</label>
            <input type="url" class="form-control" placeholder="LinkedIn profile URL" [(ngModel)]="linkedin"
              name="linkedin">
          </div>

          <div class="mb-3">
            <label for="cv" class="form-label">Portfolio Link</label>
            <input type="url" class="form-control" [(ngModel)]="cv" name="cv" placeholder="portfolio link">
          </div>

          <div class="mb-3">
            <label for="personalimg" class="form-label">Personal Image</label>
            <input type="url" class="form-control" placeholder="personal image URL" [(ngModel)]="personalimg"
              name="personalimg">
          </div>

          <!-- <div class="mb-4">
            <label class="form-label">Upload your image</label>
            <input type="file" class="form-control" required>
            <img class="img-fluid mt-2" alt="Preview" id="imagePreview" [(ngModel)]="personalimg" name="personalimg">
          </div> -->

          <button type="submit" class="btn btn-primary w-100" (click)="onRegister()">Register</button>
        </div>

        <div class="card-footer text-center mt-3">
          <small>Already have an account? <a routerLink="/login" class="text-decoration-none">Login here</a></small>
        </div>
      </div>
    </div>
  </div>
</div>