<div class="container my-5" #contentToConvert>
  <div class="row justify-content-center">
    <div class="col-md-5">
      <!-- بطاقة الملف الشخصي -->
      <div class="card shadow" style="border-radius: 16px !important;">
        <div class="container g-0">
          <div class="row ">
            <div class="col-10">
              <h5 class="m-1 p-2">{{ currentUser.username }}</h5>
            </div>
          </div>

          <hr class="m-0">
          <div class="imgport">
            <img src="{{currentUser.personalimg}}" class="mb-3 mt-3 img-fluid text-center inmgpe" alt="Profile Image">

          </div>

          <div class="card-jopt">
            <h5 class="m-0">{{currentUser.jobTitle}}</h5>
          </div>

          <div class="card-jopt">
            <p class="mb-5">{{currentUser.about}}</p>
            <hr class="m-0">
            <div class="d-inline-flex pt-2">

              <a href="{{currentUser.linked}}"
                class="list-group-item list-group-item-action me-3 text-decoration-underline d-inline-flex"
                target="_blank">
                LinkedIn <img src="../../assets/img/arrow-up-right.svg" alt="" class="invert-image"> </a>

              <a href="{{currentUser.cv}}"
                class="list-group-item list-group-item-action text-decoration-underline d-inline-flex"
                target="_blank">Portfolio <img src="../../assets/img/arrow-up-right.svg" alt=""
                  class="invert-image"></a>
            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>


<div class="container my-5">


  <div class="row justify-content-center">
    <div class="col-2 mt-3">
      <div class="text-center">
        <a (click)="downloadPDF()" class="btn btn-outline-primary w-100 no-print">Download PDF</a>
      </div>
    </div>
    <div class="col-2 mt-3">
      <div class="text-center">
        <a href="" class="btn btn-outline-primary w-100 no-print">Logout
        </a>
      </div>
    </div>

  </div>
</div>